body {
    background: rgb(46,28,97);
    background: linear-gradient(90deg, rgba(46,28,97,1) 0%, rgba(0,0,0,1) 50%, rgba(46,28,97,1) 100%);
    
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}