---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Inicio from "../components/Inicio.astro";
import Proyectos from "../components/Proyectos.astro";
import Sobremi from "../components/Sobremi.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Bienvenido a mi web">
  <Header />

  <section title="Principal" id="inicio">
    <Inicio />
  </section>

  <section title="Proyectos" id="Proyectos">
    <Proyectos />
  </section>

  <section title="Sobre mi" id="Sobremi">
    <Sobremi />
  </section>

  <section>
    <Footer />
  </section>
</Layout>
