<footer>
  <div
    style="text-align: center; padding: 1rem; background-color: #00000021; color: #fff;"
  >
    <p>Todos los derechos reservados &copy; 2024 Cristian Villalobos</p>
    <p>
      <a
        href="https://github.com/CrisLobos"
        target="_blank"
        style="color: #fff;">GitHub</a
      > | <a
        href="https://www.linkedin.com/in/cris-villalobos/"
        target="_blank"
        style="color: #fff;">LinkedIn</a
      > | <a href="mailto:Cristianvillalobosvv@gmail.com" style="color: #fff;"
        >Correo</a
      >
    </p>
  </div>
</footer>
