<header>
  <h1>Cris Dev<span>/</span></h1>

  <div class="enlaces">
    <a href="#Inicio">Inicio</a>
    <a href="#Proyectos">Proyectos</a>
    <a href="#Sobremi">Sobre mí</a>
  </div>

  <button class="hamburguesa" id="menu">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </button>
</header>

<div class="menuopen hidden" id="menu-open">
  <button class="salirMenu" id="botonSalir">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"></path>
    </svg>
  </button>
  <a href="#Inicio">Inicio</a>
  <a href="#Proyectos">Proyectos</a>
  <a href="#Sobremi">Sobre mí</a>
</div>

<style>
  header {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.466);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
    height: 4rem;
  }

  .menuopen {
    text-align: center;
    width: 25rem;
    height: 30rem;
    background-color: rgba(0, 0, 0, 0.911);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-radius: 1rem;
    margin-top: 1rem;
  }

  .hidden {
    display: none;
  }

  .salirMenu {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 4rem;
    border: none;

    &:hover {
      color: blue;
    }
  }

  h1 {
    font-size: large;
    width: 20rem;
  }
  span {
    color: blue;
    font-size: x-large;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
    margin: 0 1rem;
    transition: ease 0.2s;
    margin: 2rem 1rem;

    &:hover {
      color: blue;
      transition: ease 0.2s;
    }
  }

  button svg {
    width: 24px;
    height: 24px;
  }

  .hamburguesa {
    background-color: transparent;
    color: aliceblue;
    border: none;
    width: 2.2rem;
    cursor: pointer;
    margin-right: 1rem;
    transition: ease 0.2s;
  }

  .hamburguesa:hover {
    color: blue;
    transition: ease 0.2s;
  }

  @media only screen and (max-width: 930px) {
    .enlaces {
      display: none;
    }
  }

  @media only screen and (min-width: 930px) {
    .hamburguesa {
      display: none;
    }
  }
</style>

<script>
  document.getElementById("menu").addEventListener("click", function () {
    document.getElementById("menu-open").classList.toggle("hidden");
  });

  document.getElementById("botonSalir").addEventListener("click", function () {
    document.getElementById("menu-open").classList.toggle("hidden");
  });
</script>
