<header>
  <h1>Logo</h1>

  <div class="enlaces">
    <a href="#Inicio">Inicio</a>
    <a href="#Proyectos">Proyectos</a>
    <a href="#Sobremi">Sobre mi</a>
  </div>

  <button class="hamburguesa">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </button>

  <button class="nightMode">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
      ></path>
    </svg>
  </button>
</header>

<style>
  header {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.466);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
    height: 3.3rem;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
    margin: 0 1rem;
    transition: ease 0.2s;

    &:hover {
      color: blue;
      transition: ease 0.2s;
    }
  }

  button svg {
    width: 24px;
    height: 24px;
  }

  .nightMode {
    background-color: transparent;
    color: aliceblue;
    border: none;
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    transition: ease 0.2s;

    &:hover {
      color: blue;
      transition: ease 0.2s;
    }
  }

  .hamburguesa {
    background-color: transparent;
    color: aliceblue;
    border: none;
    width: 2.2rem;
    cursor: pointer;
    margin-right: 1rem;
    transition: ease 0.2s;

    &:hover {
      color: blue;
      transition: ease 0.2s;
    }
  }

  @media only screen and (max-width: 930px) {
    .enlaces {
      visibility: hidden;
    }
  }

  @media only screen and (min-width: 930px) {
    .hamburguesa {
      visibility: hidden;
    }
  }
</style>
