<h1>Proyectos Web</h1>
<h4>Explora mis proyectos y observa la calidad y creatividad en cada uno.</h4>

<div class="contenedorTarjetas">
  <a
    class="tarjeta"
    href="https://musicfestivalpage.netlify.app/"
    target="_blank"
  >
    <img src="/Fest.webp" alt="" />
    <h2>Festival de Musica</h2>
    <p>
      Página web para promocionar un festival de música, con información sobre
      artistas, horarios y valores de entradas en línea.
    </p>
  </a>
  <a class="tarjeta" href="https://coffeblogpage.netlify.app/" target="_blank">
    <img src="/Cafe.webp" alt="" />
    <h2>Blog Cafeteria</h2>
    <p>
      Blog sobre cafeterías, con reseñas, recetas de café, consejos para
      baristas y noticias del mundo del café.
    </p>
  </a>
  <a
    class="tarjeta"
    href="https://crislobosfreelancer.netlify.app/"
    target="_blank"
  >
    <img src="/Freelancer.webp" alt="" />
    <h2>Freelancer</h2>
    <p>
      Portafolio de un freelancer con servicios ofrecidos, proyectos anteriores,
      testimonios de clientes y formulario de contacto.
    </p>
  </a>
</div>

<style>
  h1 {
    margin: 6rem 0 2rem 0;
  }

  p {
    color: aliceblue;
  }
  .contenedorTarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6rem;
  }
  .tarjeta {
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
    transition: ease 0.1s;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);

    &:hover {
      background-color: rgba(0, 0, 0, 0.74);
      transition: ease 0.1s;
    }
  }

  img {
    width: 20rem;
    height: 10rem;
    border-radius: 0.5rem;
  }
</style>
